html, body {
    height: 100%;
    margin: 0;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: monospace, Microsoft JhengHei, sans-serif; 
}

#mapid { 
    height: 100%; 
    width: 100%;
    min-height: 100%;
}

.show-curosr {
	cursor: pointer;
}

A:link {
	color: black; 
	text-decoration: none; 
	font-family: monospace, Microsoft JhengHei, sans-serif; 
}
A:visited {
	text-decoration: none; 
	color: black;
}
A:active {
	text-decoration: none;
}
A:hover {
	/*color: rgba(0,162,232,1);*/
	color: rgba(194,84,81,1);
	font-weight: bold;
}

.marker-add {
	color: rgba(200,200,200,0.4);
}

.map-on {
	color: rgba(34,177,76,1);
}

A.tmpRemove {
	color: rgba(200,200,200,1);
}

.keep-center {
	vertical-align: middle;
	text-align: center;
}

.hr-menu {
	margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
}

.v-middle {
	vertical-align: middle;
}

.h-center {
	text-align: center;
}

.bg-yellow {
	background-color: rgba(255,204,14,1);
}

.bg-blue {
	background-color: rgba(0,0,255,1);
}

/* main control */
.searching-option Button {
	border: 0px;
    background-color: rgba(255,255,255,0);
    font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

.input-date {
	width: 110px;
	background-color: rgba(255,255,255,0);
	border: 0px;
	font-size: 16px;
	display: inline;
	cursor: pointer;
	text-decoration: underline;
	height: 14px;
	padding: 10px 10px;
}

/* menu */
.menu {
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 900;
    position: absolute;
    top: 10px;
    left: 10px;
	background-color: rgba(255,255,255,1);
	width: 300px;
	border: 2px solid rgba(200,200,200,1);
	height: 48px;
}

.detail {
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 900;
    position: absolute;
	top: 55px;
	left: 8px;
    max-width: 300px;
    min-width: 180px;
    background-color: rgba(255,255,255,0);
    /* border: 1px solid #D4D4D4; */
    font-size: 16px;
	font-weight: bolder;
	background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,1);
}

.detail a {
	text-decoration: underline;
}

.detail .btn {
	line-height: 14px;	
}

.clsutering {
	margin-left: 10px;
	margin-right: 10px;
	clear: both;
}

.display-none {
	display: none;
}

.margin-left--7px {
	margin-left: -7px;
}

.fa-half2x {
	padding-top: 6px;
	font-size: 2.0rem;
}

.input-more-width {
	width: 115%;
}

.input-no-border {
	border: 0px;
	box-shadow: none;
}

input[type="text"]:focus {
	border-color: rgba(255, 255, 255, 0);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(255, 255, 255, 0);
	outline: 0 none;	
}

.menu-div {
	width: 2px;
	height: 34px;
	background-color: rgba(200,200,200,1);
}

/* user */
.user {
	width: 30px;
    z-index: 900;
    position: absolute;
    top: 10px;
    right: 10px;
	background-color: rgba(255,255,255,1);
	border-radius: 15px;
	-webkit-border-radius: 15px;
}

/* broadcast */
.broadcast {
	z-index: 900;
    position: absolute;
    top: 50px;
	right: 10px;
	border: 2px solid rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,1);
}

/* main service */
.main-btn {
	font-size: 20px;
}

/* legend */
.legend {
	z-index: 900;
	position: absolute;
	bottom: 28px;
	left: 10px;
	background-color: rgba(255,255,255,1);
	border: 2px solid rgba(200,200,200,1);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
	width: 150px;
}

.rect {
    width: 12px;
    height: 14px;
    position: relative;
	float: left;
}

.legend-row {
	height: 20px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    color: #fff;
    line-height: 15px;
	font-size: 15px;
	margin-top: 4px;
}

.circle-blue {
	background: rgba(0,0,255,0.8);
    border: 1px solid rgba(0,0,0,1);
}

.circle-orange {
	background: rgba(255,127,39,0.8);
    border: 1px solid rgba(0,0,0,1);
}

.circle-red {
	color: rgba(255,0,0,1);
}

.circle-orange-2 {
	color: rgba(255,140,0,1);
}

.circle-yellow {
	color: rgba(255,215,0,1);
}

.circle-gray {
	color: rgba(169,169,169,1);
}

.color-green {
	color: rgba(34,177,76,1);
}

/* logo */
.mark {
	width: 180px;
    z-index: 900;
    position: absolute;
	top: 10px;
	left: 10px;
    background-color: rgba(255,255,255,0);
}

.meau-mark {
	width: 50px;
    background-color: rgba(255,255,255,0);
}

.logo {
	width: 120%;
}

.logo_nav {
	width: 140px;
}

/* map controller */
/* position : bottom-left corner of the map */
.searchInput,
{
    max-width: 360px;
    overflow: hidden;
    overflow-x: auto;
}
.send-hover:hover {
    background-color: rgba(255,127,39,1);
    color: rgba(255,255,255,1);
    cursor: pointer;
}

/* map style */
.grayscale .leaflet-tile-pane {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* left panel */
.left-panel {
	top: 30%;
	left: 0px;
	position: absolute;	
	z-index: 1000;
	background: rgba(255,255,255,1);
	padding: 8px 5px;
	border-left: 1px solid #D4D4D4;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.right-panel {
	top: 30%;
	right: 0px;
	position: absolute;	
	z-index: 1000;
	background: rgba(255,255,255,1);
	padding: 8px 5px;
	border-right: 1px solid #D4D4D4;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.left-panel i,
.right-panel i {
	color: rgba(20,20,20,0.8);
}

/* nav style */
#nav {
	width: 0%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
    overflow-y: auto;
}
#nav::-webkit-scrollbar,
#detail::-webkit-scrollbar,
#additional::-webkit-scrollbar {
	width: 5px;
	height: 1px;
	background-color: rgba(200,200,200,0.5);
}

#nav::-webkit-scrollbar-track,
#detail::-webkit-scrollbar-track,
#additional::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	background-color: rgba(200,200,200,0.2);
}

#nav::-webkit-scrollbar-thumb,
#detail::-webkit-scrollbar-thumb,
#additional::-webkit-scrollbar-thumb {
	background-color: #000000;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-right {
	padding-right: 0px
}

.full-btn {
	width: 100%;
}

.nav-tip {
	font-size: 18px;
}

.sync-red {
	color: rgba(237, 28, 36, 1);
}

.sync-green {
	color: rgba(34, 177, 76, 1);
}

/* additional */
#additional {
	width: 0%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1000;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
    overflow-y: auto;
}

/* umap button */
.ubtn {
	font-size: 20px;
	text-align: center;
}

.ubtn-sm {
	font-size: 16px;
	text-align: center;
}

.ubtn-2x {
	font-size: 24px;
	text-align: center;
}

/* simple color */
.bg-blue {
	background: rgba(0,0,255,1);
}

/*
 * mobile or tablet
 */
@media only screen and (max-width: 500px) {
    .searchInput
    {
        width: 260px;
        overflow: hidden;
        overflow-x: auto;
	}
	
	/* logo */
	.mark {
		right: 40%;
	}
}